/* 搜索栏 */

.search {
    width: 100%;
    height: 180px;
    min-width: 1200px;
    background-color: #f2f5f4;
}

.searchMain {
    width: 1000px;
    height: 150px;
    padding-top: 30PX;
    margin: 0 auto;
}

.searchMain .top {
    height: 32px;
    margin-bottom: 14PX;
}

.searchMain .zw,
.gs {
    width: 115px;
    height: 30px;
    line-height: 30px;
    float: left;
    text-align: center;
}

.searchMain .zw {
    background-color: #00b38a;
    color: #fff;
    border-radius: 4px;
}

.searchMain dt,
.searchMain dd {
    float: left;
    line-height: 40px;
    margin-right: 24px;
   
}

.search .searchMain dt {
    margin-right: 18px;
}
.first {
    text-decoration: none;
}
.first2 {
    text-decoration: none;
    margin-top: -8px;
}
.search .searchMain dd a {
    color: #777;
    font-size: 14px;
}

.search .searchMain .sousuo {
    width: 805px;
    height: 46px;
    outline: none;
    border: 1px solid #e8e8e8;
    padding-left: 15px;
    color: #000;
}

.search .searchMain .sousuo:focus {
    border: 1px solid #00b38a;
}

.searchMain .button {
    width: 142px;
    height: 46px;
    background-color: #00b38a;
    outline: none;
    border: none;
    color: #fff;
    font-size: 16px;
}

.all {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 30px;
 
}

.left-5-1 {
    float: left;
   
   
}


/* 要求 */

.require {
    width: 959px;
    height: 100px;
    
   
}

.requireMain {
     height: 300px;
    border: 1px solid #ededed;
    background-color: #fafafa;
    padding: 12px  12px 23px;
    margin-top: px; 
  
 
}

.require dl {
    float: left;
    width: 924px;
    font-size: 14px;
    line-height: 14px;
    color: #555;
    padding-right: 13px;
    padding-bottom: 10px;
}

.require dt {
    height: 22px;
    float: left;
    margin-right: 8px;
  
    padding-top: 6px;
    font-weight: bold;
   
}

.require dl dd a {
    float: left;
    padding: 6px 8px 4px 8px;
    color: #555;
    margin-left: 5px;
   
  
}

.require .pretermission a {
    background-color: #00b38a;
    color: #fff;
    text-decoration: none;
}

.require dl dd a:hover {
    background-color: #00b38a;
    color: #fff;
}

.require .more {
    width: 46px;
    height: 12px;
    float: right;
    margin-top: 6px;
}

.sort {
    height: 60px;
    width: 945px;
    border: 1px solid #ededed;
    background-color: #fafafa;
    padding: 12px 0 12px 23px;
    margin-bottom: 30px;
    margin-left: -13px;
}

.sort dl {
    float: left;
    width: 924px;
    font-size: 14px;
    line-height: 12px;
    color: #555;
    padding-right: 13px;
}

.sort dt {
    height: 22px;
    float: left;
    margin-right: 8px;
    padding-top: 6px;
    font-weight: bold;
}

.sort dl dd a {
    float: left;
    padding: 6px 8px 4px 8px;
    color: #555;
    margin-left: 5px
}

.sort .pretermission a {
    background-color: #00b38a;
    color: #fff;
}

.sort dl dd a:hover {
    background-color: #00b38a;
    color: #fff;
}

.sort .mspj {
    float: right;
    margin-right: 18px;
}

.sort .zx a {
    
    margin-top:-8px;
    text-decoration: none;
}

.sort .yx {
    margin-right: 37px;
}

.sort .page {
    float: right;
}

.sort .page span {
    color: #00b38a;
}

.sort select {
    height: 23px;
}

.sort option {
    outline: none;
    color: #555;
}

.body-5 {
    width: 958px;
}

.body-5 ul {
    margin-bottom: 26px;
}

.body-5 .top ul li {
    width: 958px;
    height: 122px;
    margin-bottom: 16px;
    border: 1px solid #ededed;
}

.body-5 .box {
    height: 21px;
}

.body-5 .one {
    float: left;
    width: 464px;
    height: 64px;
    padding-left: 15px;
    padding-top: 18px;
}


.body-5 .one img {
    vertical-align: middle;
}

.body-5 .two {
    width: 394px;
    height: 58px;
    float: right;
    padding-left: 85px;
    padding-top: 24px;
}

.body-5 .two .bk {
    color: #00b38a;
    height: 20px;
    width: 260px;
}

.body-5 .two .bk span {
    float: left;
    line-height: 20px;
}

.body-5 .two .bk .tubiao5 {
    vertical-align: hidden;
    float: left;
    margin-left: 8px;
}

.body-5 .two .gstb {
    float: right;
    margin-top: -8px;
    margin-right: 8px;
}

.body-5 .two p {
    color: #555;
    width: 260px;
}

.body-5 .three {
    float: left;
    width: 479px;
    height: 40px;
    background-color: #fafafa;
}

.body-5 .three .qd {
    border-radius: 2px;
    width: 56px;
    padding: 4px 5px;
    border: 1px solid #ededed;
    color: #555;
    font-size: 14px;
    margin-top: 6px;
    margin-left: 16px;
}

.body-5 .four {
    float: left;
    width: 479px;
    height: 40px;
    background-color: #fafafa;
}

.body-5 .four p {
    margin-left: 92px;
    line-height: 40px;
    font-size: 14px;
    color: #555;
}

.body-5 .one .box .wz1 {
    color: #00b38a;
    line-height: 21px;
}

.body-5 .one .box .wz2 {
    font-size: 14px;
    line-height: 21px;
    color: #00b38a;
}

.body-5 .one .box .wz3 {
    color: #999;
}

.body-5 .wz4,
.wz5 {
    line-height: 40px;
}

.body-5 .wz4 {
    color: #fd5f39;
}

.body-5 .wz5 {
    color: #555;
    font-size: 14px;
    margin-right: 20px;
}

.body-5 {
    margin-bottom: 40px;
}

.recommend {
    width: 958px;
    overflow: hidden;
    margin-bottom: 20px;
    padding-bottom: 20px;
}


/* 翻页 */


/* 推荐公司 */

.flip {
    height: 40px;
    color: #d1c3c0;
    margin-left: 189px;
}
.flip{
    float: left;
}

.flip .page,
.left,
.right {
    float: left;
    padding: 8px 10px;
    border: 1px solid #ededed;
}

.flip .page,
.right {
    margin-left: 10px;
}

.section2 .flip .ershi {
    margin-left: 0;
}

.flip div:hover {
    background-color: #00b38a;
    color: #FFF;
}


/* 右侧 */

.left-5 {
    float: right;
    margin-top: 50px;
}

.left-5 img {
    display: block;
}

.left-5 .t2 {
    margin-top: 14px;
}

.top_top a {
    line-height:30px;
    font-size: 15px;
    text-decoration: none;
    width: 140px;
   
}
.superdiv {
    width:100%;
    height:200px;
    position: absolute;
    background-color: rgb(234,234,234);

}
.top_bottom {
    height: 10px;
}



/* 24小时热门 */

.section1 {
    width: 80%;
   /*margin-top:100px;
   margin-bottom: 30px;
   padding-bottom: 20px; */
 
   margin-top: 30px;
  margin-left: 10%;
  
   
   
}

.section1 .box {
   width: 100%;
   height: 50px;
   border-bottom: 1px solid #e8e8e8;
   
   
}

.section1 .box a {
   float: left;
   width: 88px;
   line-height: 48px;
 
   
}

.section1 .box .remen {
   
   margin-right: 26px;
   border-bottom: 0px solid #333;
   text-decoration: none;
}

.section1 .box .job {
   color: #999;
}

.section1 .tishi {
   width: 353px;
   height: 50px;
   line-height: 50px;
   color: #999;
   background: url(../resourse/homepage/wenhao.jpg) no-repeat 0 14px;
   text-decoration: none;
   padding-left: 32px;
}

.section1 .tishi a {
   color: #00b38a;
   margin-top: 80px;
   margin-left: px;
   float: right;
   text-decoration: none;
 
}

.section1 ul {
   width: 1200px;
   height: 1000px;

   margin-left: -300px;
   margin-top: 350px;
   
  
}

.section1 ul li {
   width: 359px;
   height: 220px;
   /* margin-left: -30px; */
   margin-top: 23px;
   margin-right: 38.3px;
   margin-left: 186px;
   float: left;
   border: 1px solid #eaeeed;
   
   padding: 22px 18px 16px;
}

.section1 ul li a {
   color: #333;
   line-height: 0;
}

.section1 ul li span {
   color: #99a5c2;
   font-size: 14px;
   line-height: 0;
}

.section1 ul li .lianxi {
   display: inline-block;
   width: 16px;
   height: 16px;
   background: url(../resourse/homepage/lianxi.jpg)no-repeat;
}

.section1 ul li .pay {
   float: right;
   color: #fa6041;
}

.section1 ul li .ask {
   font-size: 14px;
   color: #777;
   line-height: 38px;
}

.section1 ul li .input {
   float: left;
   background-color: #fff;
   padding: 7px 11px 8px 12px;
   border: 1px solid #f0f0f0;
   color: #999;
   margin-top: -5px;
}

.section1 ul li .center {
   margin: 0 8px;
}

.section1 ul li .bottom {
   height: 72px;
   width: 351px;
   margin-top: 70px;
   border-top: 0px dashed #e0e0e0;
}

.section1 ul li .bottom img {
   float: left;
   margin-top: 5px;
   margin-right: 14px;
}

.section1 ul li .bottom .wz1 {
   display: block;
   margin-top: 15px;
   font-size: 12px;
   line-height: 24px;
   color: #555;
}

.section1 ul li .bottom .wz1:hover {
   color: #00b38a;
}

/*.section1 ul li .bottom .wz2 {
   font-size: 12px;
   line-height: 20px;
   color: #999;
   text-decoration: none;
}*/

.k1,
.k2,
.k7,
.k8 {
   margin-right: 14px;
   height:500px;
   
}

.k4,
.k5 {
   margin: 14px 14px 14px 0;
}

.k6 {
   margin-top: 14px;
}

.section1 .more {
   display: block;
   width: 386px;
   height: 42px;
   line-height: 42px;
   text-align: center;
   text-decoration: none;
   color: #00b38a;
   background-color: #fff;
   border: 1px solid #00b38a;
   outline: none;
   cursor: pointer;
   margin: auto;
}

.section1 .more:hover {
   background-color: #00b38a;
   color: white;
}
.wxwx1 {
   text-decoration: none;
}
.wz1 {
   text-decoration: none;
   display: block;
}
.wz3 {
    font-size: 12px;
    line-height: 20px;
    color: #999;
    float: right;
    margin-top: 26px;
    text-decoration: none;
}
.wz3:hover {
   background-color: #00b38a;
   color: #00b38a;
  
}
.wz2 {
    font-size: 12px;
    line-height: 20px;

    float: left;
    margin-top: 11px;
    text-decoration:none;
}
.wz2 a{
   text-decoration: none;
}
.wz2:hover {
   background-color: #00b38a;
   color: #00b38a;

}
.lastbottom {
    width: 100%;
    background-color: #fafafa;
    min-width: 1200px;
    margin-top: 30px;
   

}

.bottomMian {
    width: 858px;
    height: 80px;
    margin: auto;
    color: #999;
}

.bottomMian .aq {
    width: 186px;
    height: 58px;
    float: left;
 
}

.bottomMian a {
    float: left;
    margin-top: 32px;
    margin-left: 6px;
    color: #999;
    
    text-decoration: none;
}

.bottomMian img {
    float: right;
    display: block;
    margin-top: 48px;
    
}

.bottomMian .z1 {
    margin-top: 32px;
    float: left;
    margin-left: 20px;
    
}

.bottomMian .j {
    width: 236px;
    
}

.bottomMian .jg {
    background: url(../resourse/public/gh.jpg)no-repeat;
    padding-left: 22px;
    width: 260px;
    margin-left: 190px;
    
    
}

.bottomMian .aq {
    width: 136px;
    height: 49px;
    border: 1px solid #d5dadf;
    font-size: 12px;
    line-height: 14px;
    padding: 9px 0 0 50px;
    margin: 28px 0 0 20px;
  
    background: url(../resourse/public/aq.jpg)no-repeat 20px 16px;
}

.fj {
    width: 28px;
    height: 46px;
    position: fixed;
    right: 41px;
    bottom: 156px;
    background: url(../resourse/public/fj1.png)no-repeat;
}

.fj:hover {
    background: url(../resourse/public/fj2.png)no-repeat;
    
}